@import url(//fonts.googleapis.com/css?family=Open+Sans:300);


html
{
	height: 100%;
	width: 100%;
}

.body {
	height: 100%;
	width: 100%;
	background-color: #ececec;


}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
	color: #b7b9bf;
	text-align: center;
	font-size: 12px;
}

.footer .container {
	margin: 20px;
}

.screen {
	width: 720px;
	height: 480px;
	background: #fcfaed;
	margin: 15px auto;
	// padding: 20px

}

.screen canvas {
	width: 100%;
	height: 100%;
}
.screen video {
	display: none;
	width: 720px;
	height: 480px;
}

.play-pause {
	width: 100px;
	height: 100px;
	margin: auto;
	background: url('../img/icon-play-128.png') no-repeat;
	background-color: #8cefbf;
	border-radius: 50%;
	background-size: 60%;
	background-position: center;
	cursor: pointer;
}

.play-pause.playing {
	background: url('../img/icon-pause-128.png') no-repeat;
	background-size: 60%;
	background-position: center;
	background-color: #ff2979;
}

nav.controls {
	width: 100%;
}

li {
	position: relative;
}

li .circle {
	border-radius: 50%;
	background: #ddd;
	width: 80px;
	height: 80px;
	margin: auto;
	position: relative;
	cursor: pointer;
}

li .circle.selected {
	background: #52efef;
}

li .circle * {
	cursor: pointer;
}

.circle__label {
	text-align: center;
	width: 100%;
	height: 30px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

/* overwrite bootstrap */
header.page-header {
	margin-top: 0;
	background-color: #f5f5f5;
	color: black;
	font-family: "Open Sans";
	font-size: 40px;
	font-weight: 300;
	margin: 0;
	padding: 25px 0px;
	text-align: center;
}

@media (max-width:720px) {
	li .circle {
		width: 100px;
		height: 100px;
	}

	.screen {
		width: 480px;
		height: 320px;
	}
}

@media (max-width:480px) {
	.screen {
		width: 320px;
		height: 200px;
	}
	li .circle {
		width: 75px;
		height: 75px;
	}
}